:root {
    --persianRed        : #c81d11;
    --persianPlum       : #701c1c;
    --persianPink       : #f77fbe;
    --persianRose       : #fe28a2;
    --persianGreen      : #00a693;
    --persianOrange     : #d99058;
    --persianIndigo     : #32127a;
    --persianBlue       : #1c39bb;
    --persianMediumBlue : #0067a5;
}
